{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "impliedStrict": true,
      "classes": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "jasmine": true,
    "node": true,
    "jquery": true
  },
  "globals": {
    "graphql": false
  },
  "settings": {
    "ecmascript": 6,
    "jsx": true,
    "import/core-modules": ["react", "prop-types", "react-helmet", "styled-components"]
  },
  "rules": {
    "no-unused-vars": [
      1,
      {
        "argsIgnorePattern": "obj|context|args|props|res|next|^err"
      }
    ],
    "arrow-body-style": [2, "as-needed"],
    "no-param-reassign": [
      2,
      {
        "props": false
      }
    ],
    "no-console": "off",
    "import": "off",
    "func-names": "off",
    "space-before-function-paren": "off",
    "max-len": ["error", 100, 2],
    "no_underscore-dangle": "off",
    "consistent-return": "off",
    "comma-dangle": [
      "error",
      {
        "arrays": "only-multiline",
        "objects": "only-multiline",
        "imports": "only-multiline",
        "exports": "only-multiline",
        "functions": "only-multiline"
      }
    ],
    "import/prefer-default-export": "off",
    "array-bracket-spacing": "off",
    "space-in-parens": "error",
    "prefer-arrow-callback": "off",
    "no-plusplus": "off",
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "no-underscore-dangle": "off",
    "react/forbid-prop-types": "off",
    "class-methods-use-this": "warn",
    "import/extensions": "off",
    "react/display-name": "warn",
    "react/react-in-jsx-scope": "off",
    "react/no-unescaped-entities": "off",
    "radix": "off",
    "no-shadow": [
      "error",
      {
        "hoist": "all",
        "allow": ["resolve", "reject", "done", "next", "err", "error"]
      }
    ],
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": [
      "warn",
      {
        "aspects": ["invalidHref"]
      }
    ],
    "jsx-a11y/label-has-for": "off",
    "react/no-danger": "off",
    "global-require": "off",
    "import/no-dynamic-require": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "jsx-a11y/click-events-have-key-events": "off"
  },
  "plugins": ["react", "eslint-plugin-html", "prettier"]
}
